.cardWishlist{
    display: flex;
    justify-content: center;
    align-items: center;
    .cardWishlistContent{
        p{
            padding-top: 10px;
        }
        .cardWishlistImg{
            img{
                width: 80%;
            }
        }
        .buttonswish{
            display: flex;
            gap: 20px;
        }
        .cardbtn{
            padding: 10px;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            border: none;
            background-color: #C7A17A;
            color: white;
            cursor: pointer;
        }
        .cardbtn:hover{
            background: #32323D;


        }
        .heartbtn{
            padding: 10px;
            height: 40px;
            width: 40px;
            border-radius: 10px;
            border: none;
            background-color: #C7A17A;
            color: white;
            cursor: pointer;
        }
        .heartbtn:hover{
            background-color: #32323D;
        }
    }
}