#aboutus {
  background-color: lightgray;

  .images-coffe {
    position: relative;
    width: 50%;
  
  }

  .coffe-man {
    display: flex;
    align-items: center;
    width: 100%;

    .coffe-image {
      position: absolute;
      bottom: 20px;
      left: -110px;
    }
  }
  .aboutus-context{
    width: 50%;
  }
}
