#aboutus {
  background: #F4F1EE;
  min-height: 90vh;
  z-index: 1;
  position: relative;
  

  .images-coffe {
    position: relative;
    // width: 50%;  
  
  }

  .coffe-man {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 20px;
    padding-top: 60px;

    .coffe-image {
      position: absolute;
      bottom: 20px;
      left: -110px;
      
    }
  }



  .aboutus-context{
    // width: 50%;
    // margin-right: 140px;
    padding-left: 30px;



    .sub-title-aboutus{
        color: #ffffff;
        border: 1px solid #C7A17A;
        background-color:  #C7A17A;
        font-family: "Jost", sans-serif;
        display: inline-block;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 1.5px 13px;
        letter-spacing: 2px;
        line-height: 22px;
        margin-bottom: 23px;

    }
    .yourname-text{
        font-size: 35px;
        text-transform: uppercase;
    }
    .p-tag{
        margin-bottom: 35px;
        font-size: 18px;
        color: #a7a7a7;
    }
    .p-tag2{
        font-size: 18px;
        color: #a7a7a7;
    }
  }
  .imgAboutUsBg1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  .imgAboutUsBg2{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
  }
}


@media only screen and (max-width: 600px) {

  .images-coffe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;


    .coffe-image{
      position: static !important;
      margin-left: auto;
      margin-right: auto;
      width: 15rem;
      margin-top: 20px;
      margin-bottom: 20px;
      
      
    }
  }
}