#filterSection{
    min-height: 100vh;
    .sortShowing{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        border: 1px solid #e8e8e8;
        border-radius: 8px;
       

    }
    .filterIsPage{
        padding-top: 40px;       
        padding-bottom: 80px;       
    }
}

.ant-slider .ant-slider-track{
    color: #C7A17A;
    background-color: #C7A17A;

}

.ant-slider:hover .ant-slider-track{
    color: #C7A17A;
    background-color: #C7A17A;
}

.ant-slider-handle-1{
    color: #C7A17A !important;
    background-color: #C7A17A !important;
    border-radius: 0px !important;
    &::after{
        color: #C7A17A !important;
        background-color: #C7A17A !important;
        box-shadow: 0 0 0 2px #C7A17A !important;
     
    }
}
.ant-slider-handle-2{
    color: #C7A17A !important;
    background-color: #C7A17A !important;
    border-radius: 0px !important;
    &::after{
        color: #C7A17A !important;
        background-color: #C7A17A !important;
        box-shadow: 0 0 0 2px #C7A17A !important;
     
    }
}

.dfButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}