.cardContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cardImgBasket{
        width: 50px;
    }
    .cardBody{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}