#tabsSection {
  padding: 80px 0;
    .container {
      .tabs-component {
        .tabs-container {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 60px;
          gap: 30px;
          font-size: 32px;

  
          .tabs {
            cursor: pointer;
            padding: 20px;
            border: none;
            background: none;
            margin-right: 10px;
            font-weight: bold;
            color: #333;
            font-size: 16px;
            border: 1px solid #ddd;
  
            &.active {
              background-color: #c96;
              color: white;
            }
          }
        }
  
        .content {
          display: none;
          padding: 20px;
          
          &.active-content {
            display: block;
          }
        }
      }
    }
  }
  