.detailCard{
    .detail-content{
        display: flex;
        padding-top: 80px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .product-img{
        img{
            width: 400px;
            height: 400px;
            object-fit: cover;
        }
        }
        .product-info{
            p{
            padding-bottom: 10px;
            max-width: 400px;

            }
            button{
                background: none;
                outline: none;
                border: 1px solid black;
                padding: 10px 22px;
                color: black;
                transition: all 0.5s ease;
                margin-left: 20px;

                &:hover{
                    color: white;
                    transition: all 0.5s ease;
                    background-color: #c96;
                    border:1px solid white   ;
                }

            }

        }
    }
}

img{
    max-width: 100%;
}

.big-img{
    height: 515px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 60px;
    border: 1px solid #c5bebe;
    display: flex;
    img{
        width: 400px;
        height: 400px;
    }
    
}

.col-4Img{
    width: 150px;
    height: 150px;
    border: 1px solid #c5bebe;
    padding: 20px;
    margin: 33px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100px;
        height: 100px;

    }
}















.detailCard{
    padding-bottom: 80px;
}
