.searchWitget{
    padding: 30px;
    border: 1px solid #eee;
    margin-top: 20px;
    border-radius: 12px;
    .titleSearch{
        padding: 10px 0;
    }
    .inputSearch{
        input{
            width: 100%;
            color: #6c6c6c;
            font-size: 14px;
            border: 1px solid #E2DFDD;
            border-radius: 5px;
            padding: 9px 15px;
        }
    }

}