#testimonial{
    background-image: url("https://xpressrow.com/html/cafena/cafena/assets/images/bg/testimonial-bg-2.jpeg");
    min-height: 90vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .sliderSection{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 90vh;
        padding-top: 100px;
        h2{
            color: white;
        }
    }
}

.swiper-button-prev{
    border: 1px solid #c5bebe;
    border-radius: 50%;
    padding: 25px;
    color: #c96;

    

    &::after{
        font-family: swiper-icons;
        font-size: 20px !important;
        color: #c5bebe;
    }
    

}

.swiper-button-next{
    border: 1px solid #c5bebe;
    border-radius: 50%;
    padding: 25px;
    color: #c96;
    &::after{
        font-family: swiper-icons;
        font-size: 20px !important;
        color: #c5bebe;
    }
    

}







  


  
